.banner_sec {
  background: url("../assets/01..webp") no-repeat top/cover;
  min-height: 140vh;
  padding: 120px 0;
  position: relative;
  background-color: black;
  animation: ImageVisible 2s linear;
}

.services-sec {
  overflow: hidden;
}

.slider_card {
  border-top: 1px solid rgba(255, 255, 255, 0.33);
  border-right: 1px solid rgba(255, 255, 255, 0.33);
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}

.slick_container {
  max-width: 100%;
  padding: 0;
}

@keyframes ImageVisible {
  0% {
    filter: blur(10px) opacity(0);
  }
  100% {
    filter: blur(0) opacity(1);
  }
}

.banner_sec::after {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.banner_sec::before {
  content: "";
  position: absolute;
  z-index: 2;
  height: 627px;
  width: 627px;
  background: #f7e700;
  filter: blur(872px);
  right: 0;
  bottom: 0;
}

.banner_sec > * {
  position: relative;
  z-index: 3;
}

.banner_row {
  flex-wrap: wrap-reverse;
}

.memebers {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.memebers > img {
  height: 98px;
  width: 98px;
  object-fit: contain;
  margin-left: -30px;
  transition: 0.3s linear;
  cursor: pointer;
}

.memebers > img:hover {
  box-shadow: 1px 1px 10px #f7e700;
}

.memebers > img:first-child {
  margin-left: 0;
}

.visit_link {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  color: white;
  font-family: var(--clash-font);
  align-items: center;
  position: relative;
  font-size: 33px;
}

.visit_link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.8);
  bottom: -10px;
  transition: 0.5s linear;
  border-radius: 50px;
}

.visit_link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background: #f7e700;
  bottom: -10px;
  transition: 0.5s linear;
  z-index: 2;
  border-radius: 50px;
}

.visit_link:hover::before {
  width: 100%;
}

.visit_link > svg {
  transform: rotate(45deg);
  transition: 0.5s linear;
}

.visit_link:hover > svg {
  transform: rotate(90deg);
  color: var(--primary-color);
}

.scroll_logo {
  font-family: var(--clash-font);
  font-size: 27px;
  font-weight: 500;
  position: relative;
  padding-left: 10px;
  letter-spacing: 1.4;
}

.scroll_logo > span {
  animation: upDown 4s linear infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.scroll_logo::after {
  position: absolute;
  content: "";
  height: 80%;
  width: 1px;
  left: 0;
  top: 50%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  transform: translateY(-50%);
}

/* Trainer Section */

.slider_card {
  padding: 24px;
}

.services_card {
  background: url("../assets/Trainer-Background.png") center/cover no-repeat;
  background-blend-mode: darken;
  color: white;
  width: fit-content;
  position: relative;
  padding: 2.604vw;
  margin-top: 30px;
  width: 100%;
  z-index: 8;
}

.services_title {
  position: relative;
  font-size: 1.302vw;
}

.services_title::after {
  content: "";
  height: 23.1px;
  width: 69px;
  background: url("../assets/quotation.png") no-repeat center/contain;
  position: absolute;
  top: -60%;
  left: 0;
}

.services_count {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  color: transparent;
  font-size: 7.344vw;
  font-weight: 900;
  font-family: var(--Akira-font);
}

.services_card > .services_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  max-width: 485px;
  z-index: 9;
  height: 110%;
}

.services_img > img {
  height: 100%;
  width: 130%;
  object-position: right;
  object-fit: contain;
}

/* About Section */

.about_sec {
  padding: 50px 0;
}

.about_heading {
  align-items: center;
  margin-bottom: 80px;
}

.about_title {
  color: white;
  position: relative;
  margin-left: 41px;
  width: fit-content;
}

.about_title::after {
  content: "";
  height: 23px;
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 69px;
  background: url("../assets/quotation.png") no-repeat center/contain;
}

.about_title::before {
  content: "";
  height: 26px;
  display: block;
  position: absolute;
  right: 105%;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  background: url("../assets/Eclipse.png") no-repeat center/contain;
}

.about_title + p {
  font-size: 48px;
  max-width: 860px;
}

.about_img {
  max-width: 825px;
  margin: 0 auto;
}

.about_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_subTitle {
  font-size: 35px;
  font-weight: 500;
  font-family: var(--clash-font);
  margin-bottom: 30px;
}

.about_subTitle + div.row > div.col-6 {
  font-size: 18px;
  font-weight: 300;
}

.call_icon {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.call_icon > img {
  width: 99.28px;
  height: 100%;
  object-fit: contain;
}

.call_icon > div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.customer_supp {
  font-size: 23px;
  font-family: var(--clash-font);
  font-weight: 500;
  margin-left: 24px;
}

/* 2nd Services Section */

.second_services {
  padding: 82px 0;
  background: url("../assets/05..webp") no-repeat center/cover;
}

.second_services_image {
  max-width: 848px;
}

.second_services_image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.col_6 {
  padding: 12px;
  width: 50%;
}

.card {
  background: url("../assets/border.png") center/cover no-repeat;
  min-height: 289px;
  margin-bottom: 24px;
  padding: 30px;
  backdrop-filter: blur(60px);
  color: white;
}

.card h4 {
  font-size: 19px;
  font-weight: bolder;
  font-family: var(--Akira-font);
  margin: 22px 0;
}

.card p {
  font-size: 18px;
  line-height: 1.8;
  font-family: var(--clash-font);
}

/* Training Services Section */

.trainingServices {
  padding: 50px 0;
}

.subTitle {
  display: flex;
  align-items: center;
  color: var(--gray-color);
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-color);
  padding: 2.969vw 0;
}

.subTitle:hover {
  color: white !important;
}

.trainingTitle {
  font-size: 45px;
  font-family: var(--Akira-font);
  transition: 0.5s all linear;
}

.icons {
  font-size: 36px;
  transition: 0.5s all linear;
}

.subTitle:hover .icons {
  transform: rotate(45deg);
}

@media screen and (max-width: 1200px) {
  .services_card {
    margin-top: 0;
  }
  .services_title::after {
    max-width: 50px;
    top: -100%;
  }
}

@media screen and (max-width: 1024px) {
  .visit_link {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .scroll_logo {
    font-size: 20px;
  }
  .members > img {
    width: 60px;
    height: 60px;
  }
  .about_heading {
    flex-direction: column;
    align-items: start;
  }
  .about_title {
    margin-bottom: 30px;
    margin-left: 31px;
  }
  .about_img {
    margin-bottom: 60px;
  }
  .call_icon > img {
    width: 60px;
  }
  .call_icon .customer_supp {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .memebers {
    margin: 20px 0;
  }
  .memebers > img {
    height: 45px;
    width: 45px;
    margin-left: -10px;
  }
  .slider_card {
    padding-top: 50px;
  }
  .services_title::after {
    max-width: 30px;
    top: -145%;
  }
  .about_heading {
    margin-bottom: 60px;
  }

  .card h4 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .about_subTitle {
    font-size: 25px;
  }
  .banner_sec {
    padding: 80px 0;
    min-height: 110vh;
  }
  .slider_card {
    padding: 40px 10px 10px;
  }
  .services_img {
    width: 50% !important;
  }
  .services_card {
    min-height: 200px;
    padding-top: 50px;
  }
  .services_title,
  .about_title {
    font-size: 18px;
  }
  .services_count {
    font-size: 67px;
  }
  .col_6 {
    width: 100%;
  }
}
