.banner_sec {
  background: url("../assets/01..png") no-repeat top/cover;
  min-height: 140vh;
  padding: 120px 0;
  position: relative;
  background-color: black;
  animation: ImageVisible 2s linear;
}

.services-sec {
  overflow: hidden;
}

.slider_card {
  border-top: 1px solid rgba(255, 255, 255, 0.33);
  border-right: 1px solid rgba(255, 255, 255, 0.33);
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}

.slick_container {
  max-width: 100%;
  padding: 0;
}

@keyframes ImageVisible {
  0% {
    filter: blur(10px) opacity(0);
  }
  100% {
    filter: blur(0) opacity(1);
  }
}

.banner_sec::after {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.banner_sec::before {
  content: "";
  position: absolute;
  z-index: 2;
  height: 627px;
  width: 627px;
  background: #f7e700;
  filter: blur(872px);
  right: 0;
  bottom: 0;
}

.banner_sec > * {
  position: relative;
  z-index: 3;
}

.banner_row {
  flex-wrap: wrap-reverse;
}

.memebers {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.memebers > img {
  height: 98px;
  width: 98px;
  object-fit: contain;
  margin-left: -30px;
  transition: 0.3s linear;
  cursor: pointer;
}

.memebers > img:hover {
  box-shadow: 1px 1px 10px #f7e700;
}

.memebers > img:first-child {
  margin-left: 0;
}

.visit_link {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  color: white;
  font-family: var(--clash-font);
  align-items: center;
  position: relative;
  font-size: 33px;
}

.visit_link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.8);
  bottom: -10px;
  transition: 0.5s linear;
  border-radius: 50px;
}

.visit_link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background: #f7e700;
  bottom: -10px;
  transition: 0.5s linear;
  z-index: 2;
  border-radius: 50px;
}

.visit_link:hover::before {
  width: 100%;
}

.visit_link > svg {
  transform: rotate(45deg);
  transition: 0.5s linear;
}

.visit_link:hover > svg {
  transform: rotate(90deg);
  color: var(--primary-color);
}

.scroll_logo {
  font-family: var(--clash-font);
  font-size: 27px;
  font-weight: 500;
  position: relative;
  padding-left: 10px;
  letter-spacing: 1.4;
}

.scroll_logo > span {
  animation: upDown 4s linear infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.scroll_logo::after {
  position: absolute;
  content: "";
  height: 80%;
  width: 1px;
  left: 0;
  top: 50%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  transform: translateY(-50%);
}

/* Trainer Section */

.slider_card {
  background: black;
  padding: 24px;
}

.services_card {
  background: url("../assets/Trainer-Background.png") center/cover no-repeat;
  /* background-blend-mode: darken; */
  color: white;
  width: fit-content;
  position: relative;
  padding: 2.604vw;
  margin-top: 30px;
  width: 100%;
}

.services_title {
  position: relative;
  font-size: 1.302vw;
}

.services_title::after {
  content: "";
  height: 23.1px;
  width: 69px;
  background: url("../assets/quotation.png") no-repeat center/contain;
  position: absolute;
  top: -60%;
  left: 0;
}

.services_count {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  color: transparent;
  font-size: 7.344vw;
  font-weight: 900;
  font-family: var(--Akira-font);
}

.services_card > .services_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  max-width: 485px;
  z-index: 9;
  height: 100%;
}

.services_img > img {
  height: 100%;
  width: 100%;
  object-position: right;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .services_card {
    margin-top: 0;
  }
  .services_title::after {
    max-width: 50px;
    top: -100%;
  }
}

@media screen and (max-width: 1024px) {
  .visit_link {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .scroll_logo {
    font-size: 20px;
  }
  .members > img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .memebers {
    margin: 20px 0;
  }
  .memebers > img {
    height: 45px;
    width: 45px;
    margin-left: -10px;
  }
  .slider_card {
    padding-top: 50px;
  }
  .services_title::after {
    max-width: 30px;
    top: -145%;
  }
}

@media screen and (max-width: 576px) {
  .banner_sec {
    padding: 80px 0;
  }
  .slider_card {
    padding: 10px;
  }
  .services_img {
    width: 50% !important;
  }
  .services_card {
    min-height: 200px;
    padding-top: 50px;
  }
  .services_title {
    font-size: 18px;
  }
  .services_count {
    font-size: 67px;
  }
}
